body {
    background-color: #4676A7;
  }
  
  p {
    color: black;
    
  }
  .centered-text {
      text-align: center;
  }

  .tabbed {
    margin-left: 40px;
  }

 .paragraph {
  color: black;
  font-size: 20px;
  font-family: 'Alegreya Sans', sans-serif;
 }

 .header {
color:black;
font-size:40;
font-family: 'Roboto', sans-serif;
 }

.subjectbar[type="text"]
 {
    font-size:50px;
 }